libs/datacontracts/xsd/Bond.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://curveforge.com/instruments"
           targetNamespace="http://curveforge.com/instruments"
           elementFormDefault="qualified">

    <!-- For same-namespace / chameleon schemas: use xs:include, not xs:import -->
    <xs:include schemaLocation="Instrument.xsd"/>

    <xs:complexType name="Bond">
        <xs:complexContent>
            <xs:extension base="Instrument">
                <xs:sequence>
                    <xs:element name="couponRate" type="xs:double"/>
                    <xs:element name="couponFrequency" type="xs:string"/>
                    <xs:element name="currency" type="xs:string"/>
                    <xs:element name="issueDate" type="xs:date" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Bond" type="Bond"/>

</xs:schema>