libs/datacontracts/xsd/Leg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:com="http://curveforge.com/commons"
           xmlns="http://curveforge.com/instruments"
           targetNamespace="http://curveforge.com/instruments"
           elementFormDefault="qualified">

    <xs:import namespace="http://curveforge.com/commons"
               schemaLocation="commons.xsd"/>

    <xs:simpleType name="LegType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FIX"/>
            <xs:enumeration value="FLOAT"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Leg">
        <xs:sequence>
            <xs:element name="legType" type="LegType"/>
            <xs:element name="start" type="xs:date"/>
            <xs:element name="end" type="xs:date"/>
            <xs:element name="notional" type="xs:decimal"/>
            <xs:element name="currency" type="xs:string"/>
            <xs:element name="cashflows" type="com:CashFlows"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Forward" type="Leg"/>

</xs:schema>